[submodule "gitgutter"]
  path = vim-plugins/gitgutter
  url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim-plugins/gitgutter"]
	path = vim-plugins/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
